:root {
  font-family: "Roboto", Arial, sans-serif;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  color: rgb(43, 24, 30);
}

body::before {
  content: '';
  position: fixed;
  height: 200vh;
  width: 200vw;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 62 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 13.5H61M5 41H57C59.2091 41 61 39.2091 61 37V5C61 2.79086 59.2091 1 57 1H5C2.79086 1 1 2.79086 1 5V37C1 39.2091 2.79086 41 5 41ZM44 34H52C53.1046 34 54 33.1046 54 32V28C54 26.8954 53.1046 26 52 26H44C42.8954 26 42 26.8954 42 28V32C42 33.1046 42.8954 34 44 34Z' stroke='%23FFB2C8'/%3e%3c/svg%3e ");
  background-size: 30vh;
  background-position: center;
  transform: rotate(45deg) translateY(-20vw) translateX(-40vh);
  z-index: -1;
  opacity: .1;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom right, white, transparent);
  z-index: -1;
}

nav {
  padding: 10px;
  transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
  min-height: 100px;
  height: 10vh;
  background: linear-gradient(to bottom, white 70%, transparent);
}

h1::before {
  content: '';
  background-image: url('checkdigit-logo.svg');
  background-size: 87% 86%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 30px;
  width: 30px;
  position: relative;
  margin-right: 7px;
  border: 1px solid rgb(255, 178, 200);
  border-radius: 50%;
  top: 7px;
}

h1 {
  font-weight: 300;
  font-size: 1.5rem;
  margin-top: 0;
}

main {
  margin: 30vh 10px 0;
  max-width: 380px;
  height: 182px;
  transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.primary-text {
  font-size: 1.5rem;
  margin: 0 auto;
  text-shadow: 0 0 10px white;
}

.secondary-text {
  margin-top: 20px;
  line-height: 2;
  font-weight: 300;
  text-shadow: 0 0 10px white;
}

.secondary-text a {
  font-weight: 500;
  transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.secondary-text a:hover {
  color: rgb(255, 178, 200);
}

footer {
  font-size: .9rem;
  border-top: 1px solid rgb(255, 223, 232);
  padding: 20px 10px;
  background-color: white;
  margin-top: 35vh;
  font-weight: 300;
  letter-spacing: .2px
}

footer span {
  display: block;
  margin-top: 40px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

li + li {
  margin-top: .7rem;
}

li a {
  font-weight: 300;
  text-decoration: none;
  color: rgb(43, 24, 30);
}

li a:hover {
  text-decoration: underline;
}

@media (min-width: 600px) and (min-height: 600px) {
  html {
      font-size: 16px;
  }

  body:before {
    height: 400vh;
    width: 400vw;
    background-position: left;
    transform: rotate(45deg) translateY(100vh) translateX(-100vw);
  }

  nav, main, footer {
    padding: 20px;
  }

  footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  main {
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28vh;
  }

  .primary-text {
    font-size: 2.3rem;
  }

  .secondary-text {
    font-size: 1.4rem;
    line-height: 2;
    margin-top: 20px;
  }

  .payment-card {
    height: 80vh;
    top: 20vh;
  }

  footer {
    margin-top: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  li {
    display: inline-block;
  }

  li + li {
    margin-top: 0;
    margin-left: 20px;
  }

  footer span {
    margin-top: -20px;
    display: inline-block;
    float: right;
  }
}

@media (min-width: 600px) and (600px <= height <= 900px) {
  main {
    margin-top: 20vh;
  }
}